@page
@model asp_net_auth.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>User Creation</h1>

<hr />
    <div class="container shadow-lg p-3 mb-5 rounded">
        <div class="col-12  text-center">
             <button  asp-page="Index" class="btn btn-outline-warning w-25">Back to List</button>
         </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="User.Username" class="control-label"></label>
                    <input asp-for="User.Username" class="form-control" />
                    <span asp-validation-for="User.Username" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="User.Password" class="control-label"></label>
                    <input asp-for="User.Password" type="password" class="form-control" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="User.Name" class="control-label"></label>
                    <input asp-for="User.Name" class="form-control" />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="User.LastName" class="control-label"></label>
                    <input asp-for="User.LastName" class="form-control" />
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="User.Birth" class="control-label"></label>
                    <input asp-for="User.Birth" class="form-control" />
                    <span asp-validation-for="User.Birth" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 text-center form-group">
                <input type="submit" value="Create" class="btn btn-outline-danger w-25" />
                </div>
            </div>
        </form>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
