@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RPC :: Competitive Competition Network</h1>
    <div class="container shadow-lg p-3 mb-5 rounded">
         <div class="card mb-3 offset-md-4" style="max-width: 540px;">
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <img src=".../Static/welcome.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 offset-md-2">
              <div class="card-body">
                <h5 class="card-title">RPC Login</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-4" >
                <div class="col-md-6 offset-md-3 form-group">
                    <input asp-for="User.Username" class="form-control text-center"  placeholder="Usuario" />
                    <span asp-validation-for="User.Username" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3 form-group">
                    <input asp-for="User.Password" type="password" class="form-control text-center" placeholder="Contraseña" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
            </div>
              <div class="row mb-4">
                <div class="col-6 offset-md-3 form-group">
                    <input class = "btn btn-danger text-center w-50" type="submit" value = "Iniciar sesion"/>
                </div>     
            </div>
                <div class="row mb-4">
                    <div class="col-6 offset-md-3">
                           <a asp-page="./Users/Create"><input type="button" class="btn btn-warning w-50" value="Registrame" /></a>
                    </div>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
