@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RPC :: Competitive Competition Network</h1>
    <div class="container shadow-lg p-3 mb-5 rounded">
          <div class="row mb-3">
            <div class="col-md-4 offset-md-4">
              <img src="./static/login.svg" class="img-fluid rounded-start" alt="...">
            </div>
           </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-4" >
                <div class="col-md-6 offset-md-3 form-group">
                    <input asp-for="User.Username" class="form-control text-center"  placeholder="Username" />
                    <span asp-validation-for="User.Username" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3 form-group">
                    <input asp-for="User.Password" type="password" class="form-control text-center" placeholder="Password" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
            </div>
              <div class="row mb-4">
                <div class="col-md-6 offset-md-3 form-group">
                    <input class = "btn btn-danger text-center w-50" type="submit" value = "Sign in"/>
                </div>     
            </div>
                <div class="row mb-4">
                    <div class="col-md-6 offset-md-3">
                           <a asp-page="./Users/Create"><input type="button" class="btn btn-warning w-50" value="Sign up" /></a>
                    </div>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
