@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RPC :: Competitive Competition Network</h1>
    <div class="container shadow-lg p-3 mb-5 rounded">
        <div class="row">
            <div class="col-lg-6 col-sm-12">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                
            </div>
        </div>

    </div>
</div>
